.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* ================= INNER ================= */
.footer_inner_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ================= ICONS ================= */
.footer_icons{
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
}

/* ================= DATA ================= */
.footer_data{
    display: flex;
    justify-content: space-between;
}

.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}

.footer_data ul li{
    cursor: pointer;
}

/* ================= SERVICE CODE ================= */
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 10%;
    margin: 10px 0;
    cursor: pointer;
}

/* ================= COPYRIGHT ================= */
.copy-write{
    font-size: 12px;
    margin-bottom: 10px;
}
@media (max-width: 1023px) {

    .footer_inner_container{
        width: 80%;
    }

    .footer_icons{
        width: 25%;
        margin-left: 0;
    }

    .footer_data{
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer_data ul{
        height: auto;
        gap: 8px;
    }

    .service_code{
        width: 25%;
    }
}
@media (max-width: 650px) {

    .footer_inner_container{
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .footer_icons{
        width: 50%;
        justify-content: space-around;
    }

    .footer_data{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer_data ul{
        align-items: center;
    }

    .service_code{
        width: 60%;
    }
}
